# LaTeX 临时文件
*.aux
*.log
*.out
*.toc
*.gz
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.synctex.gz
*.nav
*.snm
*.vrb
*.lof
*.lot
*.lol
*.thm
*.xdv
*.pdfsync
*.synctex
*.dvi
*.ps
*.spl
*.run.xml
*.bcf
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.xdy
*.idx
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc0
*.out.ps
*.pfg
*.ptc
*.slg
*.slo
*.sls
*.slo
*.soc
*.sos
*.spt
*.sta
*.stp
*.svg
*.tdo
*.upa
*.upb
*.vrb
*.xdy
# 其它常见临时文件
*~
*.bak
*.tmp
